# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django general
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Migrations: ignora solo archivos compilados, NO las migrations .py
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py[cod]

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db

# Environment variables
.env
