# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Virtual environment
venv/
env/
ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node / frontend (si usas React, etc.)
node_modules/
dist/
build/

# macOS
.DS_Store

# VSCode settings
.vscode/

# PDF y documentación compilada
docs/*.pdf
